<!DOCTYPE html>
<html ng-app="Currency">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0">
    <title>currency</title>

    <!-- build:css(.tmp) styles/stylesheet.min.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

  </head>
  <body ng-controller="currenciesCtrl" ng-init="aside = false" ng-click="hideAside($event)">

    <main>
      <currency from="from" to-currency="{{ currency }}" ng-repeat="currency in currencies | orderBy:'toString()'" class="slide"></currency>
    </main>

    <aside ng-class="{ visible: aside }" ng-click="$event.stopPropagation()">
      <input ng-model="nextCurrency" placeholder="Search a currency" force-focus="aside">
      <div>
        <a ng-repeat="currency in currenciesList | orderBy:currency.code | filter:nextCurrency" ng-class="{ selected: isSelected(currency.code)}" ng-click="addCurrency(currency.code)">
          <strong>{{ currency.code }}</strong><em>{{ currency.name }}</em>
        </a>
      </div>
    </aside>

    <header ng-class="{ visible: aside }">
      <a ng-click="toggleAside($event)">
        <i></i>
        <i></i>
        <i></i>
      </a>
    </header>

    <!-- build:js scripts/script.min.js -->
    <script src="bower_components/lodash//dist/lodash.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/currencies.js"></script>
    <script src="scripts/directives/currency.js"></script>
    <script src="scripts/directives/force-focus.js"></script>
    <!-- endbuild -->

  </body>
</html>
